@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* NOTICIAS Y DESTACADO DEL BLOG */
main{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.grid_1, .grid_2, .grid_3 {
    border: 2px solid var(--color-primary);
    padding: 1em;
    transition: all 500ms;
}

.grid_1:hover, .grid_2:hover, .grid_3:hover{
    background: var(--color-primary);
    color: white;
}
.grid_1:hover a, .grid_2:hover a, .grid_3:hover a{color: white;}

.grid img{
    display: block;
    margin: auto;
    width: 50%;
}

.grid a{
	display: block;
	color: black;
    text-align: center;
    margin-top: 2em;
    transition: all 500ms;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}