/* SECCION DE PERFIL */
.perfil{
    line-height: 100px;
    color: white;
    margin-left: 20%;
    float: left;
}

span{
    margin: 5px;
}

.icon-play3{
    display: inline-block;
    transform: rotate(90deg);
}

.info{
    width: 10%;
    line-height: normal;
    position: absolute;
    top: 30px;
    text-align: left;
    z-index: -10;
    background: orange;
    padding: .3em;
    transition: all 500ms;
}

.perfil:hover .info{
    z-index: 10;
    top: 100px;
}

.info a{
    display: block;
    width: 100%;
    line-height: normal;
    margin-top: .3em;
    color: white;
    text-align: center;
    font-size: .8em;
}
