@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* NOTICIAS Y DESTACADO DEL BLOG */
main{
	border: 2px solid var(--color-primary);
	background-color: #fff;
}

/* aside{
	border: 2px solid var(--color-primary);
} */

aside article{
	border: 2px solid var(--color-primary);
	margin-bottom: 1em;
	background-color: #fff;
	
}

.grid{
	display: grid;
	margin: 2em;
	grid-gap: 10px;
	grid-template-columns: 70% 1fr;
}

article{
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
}
/* TITULO DE LA NOTICIA */
h1{
	font-family: var(--font-primary);
	clear: both;
}

.cat, .sub_cat, .date, .autor{
	display: inline-block;
	margin: 2px;
	padding: 5px;
	font-family: var(--font-secundary);
	font-size: 12px;
}

.cat, .sub_cat{
	color: white;
}

.cat{
	width: 10%;
	text-align: center;
	background: #F5590B;
}

.sub_cat{
	background: #FFEC00;
}

.likes{
	margin-top: 1.1em;
    margin-right: 10px;
    float: right;
    padding: .3em;
    font-size: 1.1em;
}

section{
	width: 80%;
	text-align: justify;
}

.aside-info{
	margin-top: 1rem;
	width: 100%;
}

img{
	padding: .5em;
	width: 18%;
}

section, img{
	float: left;
}