@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* NOTICIAS Y DESTACADO DEL BLOG */
main{
	border: 2px solid var(--color-primary);
}

aside{
	border: 2px solid var(--color-primary);
}

.grid{
	display: grid;
	margin: 2em;
	grid-gap: 10px;
	grid-template-columns: 70% 1fr;
}

article{
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
}
/* TITULO DE LA NOTICIA */
h1{
	font-family: var(--font-primary);
	clear: both;
}

.cat, .sub_cat, .date, .autor{
	display: inline-block;
	margin: 2px;
	padding: 5px;
	font-family: var(--font-secundary);
	font-size: 12px;
}

.cat, .sub_cat{
	color: white;
}

.cat{
	background: #F5590B;
}

.sub_cat{
	background: #FFEC00;
}

section{
	width: 80%;
	text-align: justify;
}

img{
	width: 20%;
}

section, img{
	float: left;
}