/*ESTILOS POR DEFECTO*/
.margin_top{
  margin-top: 60px;
}

/*ESTILOS DE LA CAJA DERECHA*/
.izq{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  background: var(--color-primary);
}

.p_title{
  color: #fff;
  font-size: 5em;
  font-family: arial;
}

.line{
  display: inline-block;
  border: 1px solid hsl(147, 100%, 45%);
  width: 40%;
}

.p_subtitle{
  color: #fff;
  font-family: arial;
  font-size: 2em;
}
.der{
  float: left;
  width: 60%;
}

.div_center{
  width: 80%;
  margin: auto;
}

img{
  display: block;
  width: 20%;
  margin: auto;
  margin-bottom: 60px;
}

form{
  width: 70%;
  margin: auto;
}

.data{
  height: 50px;
}

.data input{
  margin-bottom: .7em;
  display: block;
  width: 100%;
  padding:  0 .8rem;
  box-sizing: border-box;
  transition: all .3s;
}

.data input:focus{
  padding: .8rem;
}

.register{
  display: block;
  text-align: center;
  margin-top: 1em;
  text-decoration: none;
  color: var(--color-primary);
  font-family: arial;
}
img{
  fill: red;
}

@media only screen and (max-width: 600px) {
  .izq, .der{
    float: initial;
    width: 100%;
  }
  .der{
    margin-bottom: 2em;
  }
  .p_title{
    font-size: 2.5em;
  }
  .p_subtitle{
    font-size: 2em;
  }
}