table{
    margin: 2em auto;
}
caption{
    margin-bottom: .5rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 10px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.6);
}

td{
    text-align: center;
}

select{
    padding: .5em;
}